
body {
  background: rgb(97,64,32);
  display: flex;
  flex-direction: column;
  font-family: 'Righteous', cursive;
  font-size: 10px;
}

.page-title {
  background-color: grey;
  color: rgb(97,64,32);
  font-size: 37px;
  text-shadow: -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
}

.item-name {
  background-color: rgb(97,64,32);
  color: grey;
  font-size: 15px;
  text-shadow: -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
}

.item-image {
height: 250px;
width: 325px;
}

.item-name {
  background: grey;
  color: rgb(97,64,32);
  display: block;
  font-size: 24px;
  margin: 0;
  padding: 0.4em 1em;
  text-align: left;
}

html, body {
    height: 100%;
}

.detail-image-container {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.detail-image {
  height: 500px;
  width: 800px;
}

.detail-image-frame {
  position: relative;
  text-align: center;
}

.thumbnail-list {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  list-style: none;
  order: 2;

  overflow-x: auto;
  padding: 20px 0;
  white-space: nowrap;
}

.thumbnail-item:hover {
  transform: scale(.8);
}
