body {
  background: rgb(97,64,32);
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.page-title {
  background-color: grey;
  color: rgb(97,64,32);
  font-size: 37px;
  text-shadow: -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
}

.item-name {
  background-color: rgb(97,64,32);
  color: grey;
  font-size: 15px;
  text-shadow: -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
}

.item-image {
height: 318px;
width: 512px;
}

.item-name {
  font-size: 48px;
}
